/* base.css
 * --------
 * Universal layout constraints. */

/* Body */
body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

/* Header */
div#header {
    position: relative;
    background-color: #696969;
}

/* Page body */
div#body {
    position: relative;
    min-height: 300px;
}

/* Footer */
div#footer {
    height: 60px;
}