/* body.css
 * --------
 * Body layout classes. */

/* Editorial content */
div#editorial {
    overflow: hidden;
    width: 920px;
    margin: 0px auto;
    padding: 0px !important;
}
div#editorial div.content {
    display: inline-block;
    width: 100%;
}
div#editorial div.content.navigable {
    margin-left: 160px;
    width: 760px;
}
div#editorial div.content.scrollable {
    width: 880px;
}
div#editorial div.content.navigable.scrollable {
    width: 720px;
}

/* Main scrollbar */
div#editorial div.scrollzone {
    display: inline-block;
    vertical-align: top;
    width: 20px;
    margin: 40px 0px 10px 20px;
    background: blue;
}
div#editorial div.scrollzone div.scrollbar {
    width: 10px;
    margin: 5px auto;
    background: red;
}
div#editorial div.scrollzone div.scrollbar div.scroller {
    width: 10px;
    background-color: green;
}

/* Lateral navigation */
div#latnav {
    position: absolute;
    z-index: 6;
    top: 0px;
    width: 140px;
    background: blue;
}
div#latnav div.tools {
    margin: 10px 0px;
}
div#latnav div.tools div {
    display: inline-block;
    width: 70px;
    height: 40px;
}
div#latnav div.tools div.left {
    background-color: pink;
    margin-right: 0px;
}
div#latnav div.tools div.right {
    background-color: greenyellow;
    
}

div#latnav div.plan {
    background-color: #c20000;
    font-size: 90%;
}
div#latnav div.plan > ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
div#latnav div.plan > ul > li {
    padding: 4px 0px 0px 0px;
    margin: 0px 0px;
} 
div#latnav div.plan > ul > li:hover {
    background: #ff0000;
}
div#latnav div.plan > ul > li > a {
    
}
div#latnav div.plan > ul > li > ul {
    overflow: hidden;
    margin: 4px 0px 0px 0px;
    padding: 0px;
    background: darkgoldenrod;
}
div#latnav div.plan > ul > li > ul.close {
    display: none;
    height: 0px;
}
div#latnav div.plan > ul > li > ul > li:hover {
    background: navajowhite;
}

div#latnav div.links {
    margin: 10px 0px;
}
div#latnav div.links div {
    display: inline-block;
    width: 70px;
    height: 40px;
}
div#latnav div.links div.left {
    background-color: pink;
    margin-right: 0px;
}
div#latnav div.links div.right {
    background-color: greenyellow;
    
}