/* header.css
 * ----------
 * Header layout classes. */

/* Global */
body.standard div#header {
    height: 120px;
}
body.homepage div#header {
    height: 400px;
}

/* Banner */
div#banner {
    position: absolute;
    overflow: hidden;
    width: 100%;
    max-height: 300px;
}
div#banner div {
    position: absolute;
    margin: 5px auto;
    border-width: 1px 0px;
    border-style: solid;
}

/* Top navigation */
div#topnav {
    position: absolute;
    z-index: 10;
    bottom: -20px;
    height: 40px;
    width: 100%;
}
div#topnav div.baseline {
    position: relative;
    z-index: 11;
    width: 920px;
    height: 32px;
    margin: 4px auto 4px;
}
/* Top navigation base */
div#topnav div.baseline div.nav {
    position: absolute;
    z-index: 13;
    width: 100%;
    height: 32px;
}
div#topnav div.baseline div.nav ul.links {
    text-align: center;
    margin: 4px;
}
div#topnav div.baseline div.nav ul.links li {
    display: inline;
    margin: 0px 8px;
    padding: 4px;
    border: 1px solid black;
    border-radius: 5px;
    background: white;
}
div#topnav div.baseline div.nav ul.links li.selected {
    border-color: #c20000;
}
div#topnav div.baseline div.nav ul.links li:hover {
    border-color: red;
}
div#topnav div.baseline div.nav ul.links li a {
    color: black;
}
div#topnav div.baseline div.nav ul.links li.selected a {
    color: #c20000;
}
div#topnav div.baseline div.nav ul.links li:hover a {
    color: red;
}
/* Top navigation extension */
div#topnav div.baseline div.subnav {
    z-index: 12;
    position: absolute;
    overflow: hidden;
    top: -8px;
    left: -40px;
    right: -40px;
    opacity: 1;
    background: white;
    padding: 52px 5px 20px 5px;
    border: 1px solid #c20000;
    border-radius: 5px;
}
div#topnav.close div.baseline div.subnav {
    opacity: 0;
    height: 0px;
}
div#topnav.open div.baseline div.subnav {
    opacity: 1;
    height: 300px;
}
div#topnav div.baseline div.subnav div.content {
    height: 0;
    width: 100%;
    font-size: 0px;
}
div#topnav div.baseline div.subnav div.content div.column {
    display: inline-block;
    vertical-align: top;
    width: 32%;
    font-size: 15px;
}
div#topnav div.baseline div.subnav div.content div.column.left {
    background: url('../../../../data/media/pixels/d7d7d7.png') repeat-y right top;
    margin-left: 2%;
}
div#topnav div.baseline div.subnav div.content div.column.center {
    
}
div#topnav div.baseline div.subnav div.content div.column.right {
    background: url('../../../../data/media/pixels/d7d7d7.png') repeat-y left top;
    margin-right: 2%;
}