/* header.css
 * ----------
 * Header layout classes. */

/* Global */
body.standard div#header {
    height: 120px;
}
body.homepage div#header {
    height: 400px;
}

/* Banner */
div#banner {
    position: absolute;
    width: 100%;
    max-height: 300px;
}

/* Top navigation */
div#topnav {
    position: absolute;
    z-index: 10;
    bottom: -20px;
    height: 40px;
    width: 100%;
}
div#topnav div.baseline {
    position: relative;
    z-index: 11;
    width: 920px;
    height: 32px;
    margin: 4px auto 4px;
}
div#topnav div.baseline div.nav {
    position: absolute;
    z-index: 13;
    width: 100%;
    height: 32px;
}
div#topnav div.baseline div.subnav {
    z-index: 12;
    position: absolute;
    top: -4px;
    left: -40px;
    right: -40px;
    padding-top: 40px;
}
div#topnav.close div.baseline div.subnav {
    height: 0px;
}
div#topnav.open div.baseline div.subnav {
    height: 300px;
}