/*  sliders.css
 *  -----------
 *  Sliders relative classes. */

/* Full size slider */
div#body div.slidernav.big {
    position: absolute;
    z-index: 2;
    width: 100%;
    min-height: 30px;
    bottom: 0px;
}
div#body div.slidernav.big ul {
    position: static;
    width: 360px;
    height: 20px;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 12px;
    background: palegreen;
    border: 1px solid grey;
    border-radius: 5px;
    white-space: nowrap;
}
div#body div.slidernav.big ul li {
    display: inline-block;
    margin: 0px;
}
div#body div.slidernav.big ul li.selected {
    color: red;
}
div#body div.slider.big {
    overflow: hidden;
    position: absolute;
    z-index: 1;
    margin: 0px;
    padding: 0px;
}
div#body div.slider.big div.slide {
    display: inline-block;
    vertical-align: top;
}
div#body div.slider.big div.slide div.container {
    width: 920px;
    margin: 0px auto;
    border: 1px solid black;
}