/*  sliders.css
 *  -----------
 *  Sliders relative classes. */

/* Full size slider */
div#body div.slidernav.big {
    z-index: 2;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 360px;
    margin: 0px auto 10px;
    border: 1px solid grey;
    border-radius: 5px;
    background: palegreen;
}
div#body div.slidernav.big ul {
    position: static;
    height: 20px;
    padding: 0px;
    margin: 5px auto 15px;
    text-align: center;
    font-size: 12px;
    white-space: nowrap;
}
div#body div.slidernav.big ul li {
    display: inline-block;
    margin: 0px;
}
div#body div.slidernav.big ul li.selected {
    color: red;
}
div#body div.slidernav.big div.loader {
    position: absolute;
    bottom: 5px;
    left: 5px;
    right: 5px;
    height: 15px;
}
div#body div.slidernav.big div.loader div.up {
    position: absolute;
    width: 100%;
    height: 100%;
}
div#body div.slidernav.big div.loader div.down {
    position: absolute;
    height: 100%;
    background: red;
}
div#body div.slider.big {
    overflow: hidden;
    position: absolute;
    z-index: 1;
    margin: 0px;
    padding: 0px;
}
div#body div.slider.big div.slide {
    display: inline-block;
    vertical-align: top;
}
div#body div.slider.big div.slide div.container {
    width: 920px;
    margin: 0px auto;
    border: 1px solid black;
}