/* dev.css
 * -------
 * Temporary skin-related information file. */

/* S0 */
div#banner div.skinS0 {
    background: black url('../../../../data/media/000_stockshot.png') no-repeat center center;
    border-color: #eaeaea;
}

/* S1 */
div#banner div.skinS1 {
    background: black url('../../../../data/media/001_stockshot.png') no-repeat center center;
    border-color: #eaeaea;
}